.students-table {
	
	table {
	width: 100%;
	text-align: left;

	.avtr {
		width: 42px;
		height: 42px;
		display: block;
		background-size: cover;
		background-position: center center;
		border-radius: 5px;

		background-color: #1d2d4a;
	}
}
}