.students-table {
	table {
	width: 100%;
	text-align: left;
		.avtr {
			width: 42px;
			height: 42px;
			display: block;
			background-size: cover;
			background-position: center center;
			border-radius: 5px;

			background-color: #1d2d4a;
		}

		th.asc::after{
			content: "\2191"
		}
		th.desc::after{
			content: "\2193"
		}

		th.sortable {
			cursor: pointer;
			position: relative;

			&::after {
				content: "\21c5";
			}
		}

	}
}

// .page-students {
// 	select, input {
// 		width: 100%;
// 		height: 32px;
// 		background-color: #202937;
// 		font-weight: bold !important;
// 		margin: 4px;
// 		border-radius: 5px;
// 	}

// 	input {
// 		padding: 12px !important;

// 		&:disabled {
// 			background-color: #202937;
// 			opacity: .8;
// 		}
// 	}
// }
